<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      GIF History
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="false">
  <ion-card *ngIf="history && history.length" >
    <ion-list>
      <ion-item *ngFor="let item of history" (click)="removeWord(item.id)"  >
        <ion-label>{{item.payload}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-label *ngIf="!history || history.length === 0" >Nothing to show, please search for something else</ion-label>

</ion-content>
